
<style>
    body {
        background-color: antiquewhite;
    }
</style>


<body>

@{
    ViewData["Title"] = "Home";
}




<h1 style="color:Highlight">Home</h1>

<h6 style="color:lime">Hello from our View Template!</h6>
</body>