<style>
    body{
        background-color:antiquewhite;
    }


</style>

<body>

    @{
        ViewData["Title"] = "Privacy Policy";
    }
    <h1 style="color:Highlight">@ViewData["Title"]</h1>


        <p style="color:lime">Use this page to detail your site's privacy policy.</p>
    </body>

